.infoContainer {
  border-bottom: 1px solid var(--border-color);

  #info {
    padding: 50px;
    background-color: var(--bg-sub-text-color);

    .infoContent {

      padding: 0 80px;
    }

    p {
      margin-top: 4px;
    }
  }
}

.space {
  border-bottom: 1px solid var(--border-color);

  #spaceConent {
    height: 60px;

    background-size: 100%;
    background-image: repeating-linear-gradient(135deg,
        var(--bg-border-color) 0px,
        var(--bg-border-color) 1px,
        transparent 1px,
        transparent 6px);
  }
}

@media screen and (max-width: 768px) {
  .infoContainer {
    #info {
      padding: 20px;

      .infoContent {
        padding: 0 10px;
      }
    }
  }
}