.linkContainer {
  border-bottom: 1px solid #dedede;
  #links {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    height: 150px;
    background-size: 14px 14px;
    background-image: linear-gradient(to right, #f6f6f6 1px, transparent 1px),
      linear-gradient(to bottom, #f6f6f6 1px, transparent 1px);

      p {
        margin-top: 8px;
        color: gray;
      }
  }

  h1 {
    font-size: 36px;
  }
}

.space {
  border-bottom: 1px solid #dedede;

  background-size: 100%;
  background-image: repeating-linear-gradient(
    135deg,
    #f6f6f6 0px,
    #f6f6f6 1px,
    transparent 1px,
    transparent 6px
  );

  #spaceConent {
    height: 120px;
    background-color: #fff;
  }
}
