/* @import url(https://fonts.font.im/css?family=Raleway:400,200,300,100,500,600,700,800,900); */

@import url('https://static.zeoseven.com/zsft/309/main/result.css');

.main {
  border-bottom: 1px solid #dedede;
  
  #container {
    background-size: 14px 14px;
    background-image: linear-gradient(to right, #f6f6f6 1px, transparent 1px),
      linear-gradient(to bottom, #f6f6f6 1px, transparent 1px);
  }

  .content {
    margin: 0 auto;
    padding: 70px 20px 80px;
  }

  h1, p {
    text-align: center;
  }

  h1 {
    font-family: "KingHwa_OldSong";
    font-weight: 800;
    font-size: 52px;
    margin-bottom: 15px;
  }

  p {
    /* font-family: 'Raleway', sans-serif; */
    color: gray;
    font-weight: 400;
    font-size: 19px;
  }

  @media  screen and (max-width: 768px) {
    h1 {
      font-size: 33px;
    }
    
    p {
      font-size: 16px;
    }
  }
}

/* @media (prefers-color-scheme: dark) {
  #container {
    background-image: linear-gradient(to right, #4d4d4d 1px, transparent 1px) ,
      linear-gradient(to bottom, #4d4d4d 1px, transparent 1px) !important;
  }

  p {
    color: #f6f6f6 !important;
  }
} */